
#gg{
    color: blueviolet;
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    padding: 0px;
    

}

body{
    background-color: grey;
}
#rickroll{
    color: indigo;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

